<!-- <nav class="navbar navbar-default"> -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>

        <!-- <div class="collapse navbar-collapse" id="navbarCollapse"> -->
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">    
            <ul class="navbar-nav">
                <li><a href="#" class="nav-item nav-link active" 
                    (click)="onSelect('recipe')">Recipes</a></li>
                <li><a href="#" class="nav-item nav-link" 
                     (click)="onSelect('shopping-list')">Shopping List</a></li>
            </ul>

            <ul class="navbar-nav ml-auto navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-item nav-link" role="button">Manage <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

