<div class="row">
	<div class="col-12">
		<img [src]="recipe.imagePath" alt="{{ recipe.name }}"
			class="img-responsive" style="max-height: 300px;">
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h1>{{ recipe.name }}</h1>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="btn-group dropdown" appDropdown>
			<button type="button" class="btn btn-primary dropdown-toggle"
				style="">

				Manage Recipe <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">To Shopping List</a></li>
				<li><a class="dropdown-item" href="#">Edit Recipe</a></li>
				<li><a class="dropdown-item" href="#">Delete Recipe</a></li>
			</ul>
		</div>


		<!-- <div class="btn-group dropdown" appDropdown>
			<button class="btn btn-primary dropdown-toggle" type="button"
				id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">
				Manage Recipe <span class="caret"></span>
			</button>

			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">To Shopping List</a> <a
					class="dropdown-item" href="#">Another action</a> <a
					class="dropdown-item" href="#">Something else here</a>
			</div>
		</div> -->


		<!-- <li class="dropdown" appDropdown><a
			class="nav-link dropdown-toggle" style="cursor: pointer;">
				Dropdown link </a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Action</a> <a
					class="dropdown-item" href="#">Another action</a> <a
					class="dropdown-item" href="#">Something else here</a>
			</div></li> -->
	</div>
</div>

<div class="row">
	<div class="col-12">{{ recipe.description }}</div>
</div>

<div class="row">
	<div class="col-12">Ingredients</div>
</div>