<div class="container">
	<div class="row">
		<div
			class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
			<nav class="navbar navbar-expand-md navbar-light bg-light">
				<div class="container-fluid">
					<div class="collapse navbar-collapse">
						<!-- <ul class="nav nav-tabs"> -->
						<ul class="navbar-nav">
							<li role="presentation" routerLinkActive="active" 
							[routerLinkActiveOptions]="{exact: true}">
								<a routerLink="/"
								class="nav-item nav-link ">Home</a>
							</li>
							<li role="presentation" routerLinkActive="active" >
								<a routerLink="/servers"
								class="nav-item nav-link">Servers</a>
							</li>
							<li role="presentation" routerLinkActive="active" >
								<a [routerLink]="['/users']"
								class="nav-item nav-link">Users</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<div class="row">
		<div
			class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
			<!-- <app-home></app-home> -->
			<router-outlet></router-outlet>
		</div>
	</div>

</div>

